@mixin respond( $breakpoint ) {

    @if $breakpoint == smartphone {
        @media only screen and ( max-width: 575.99px ) {
            @content;
        }
    }
    @if $breakpoint == tablet {
        @media only screen and ( min-width: 576px ) and ( max-width: 1199.99px ) {
            @content;
        }
    }
    @if $breakpoint == desktop {
        @media only screen and ( min-width: 1200px ) {
            @content;
        }
    }
}
/* nav */
@mixin nav-position {
    display: flex;
    align-items: center;
    width: 100vw;
}