/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@font-face {
  font-family: shrikhand;
  src: url(fonts/shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
}
body {
  font-family: roboto;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

main {
  width: 100%;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
@media only screen and (max-width: 575.99px) {
  .button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    letter-spacing: 1px;
    height: 45px;
    width: 200px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .button__margin__bottom {
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    letter-spacing: 1px;
    height: 70px;
    width: 250px;
    border-radius: 35px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .button__margin__bottom {
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    letter-spacing: 1px;
    height: 80px;
    width: 300px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    margin-top: 40px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .button__margin__bottom {
    margin-bottom: 70px;
  }
}
.button {
  transition: filter 300ms;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(#ff88de, #9b63df);
  filter: drop-shadow(10px 10px 5px #a3a3a3);
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
/* smartphone */
@media only screen and (max-width: 575.99px) {
  .filter__wrapper {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter__wrapper__title--position {
    margin-left: -145px;
  }
}

@media only screen and (max-width: 575.99px) {
  .filter__card {
    display: flex;
    align-items: center;
    background: #EFEFEF;
    height: 75px;
    width: 100%;
    max-width: 330px;
    margin-bottom: 20px;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .filter__card__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filter__card__wrapper--font {
    font-weight: bold;
  }
  .filter__card__icon--style {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .filter__card--text {
    width: 75%;
  }
  .filter__card--icon {
    font-size: 20px;
    color: #707070;
  }
  .filter__card--number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9356DC;
    color: white;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-left: -15px;
  }
}

/* tablet */
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .filter__wrapper {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .filter__card {
    display: flex;
    align-items: center;
    background: #EFEFEF;
    height: 75px;
    width: 100%;
    max-width: 630px;
    margin-bottom: 20px;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .filter__card__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filter__card__wrapper--font {
    font-weight: bold;
  }
  .filter__card__icon--style {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .filter__card--text {
    width: 75%;
    text-align: center;
    margin-left: -80px;
    font-size: 20px;
  }
  .filter__card--icon {
    font-size: 20px;
    color: #707070;
  }
  .filter__card--number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9356DC;
    color: white;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin-left: -15px;
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  .filter__wrapper {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter__wrapper__title--position {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .filter__card {
    display: flex;
    align-items: center;
    background: #EFEFEF;
    height: 100px;
    width: 100%;
    max-width: 630px;
    margin-bottom: 40px;
    border-radius: 35px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .filter__card__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filter__card__wrapper--font {
    font-weight: bold;
  }
  .filter__card__icon--style {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .filter__card--text {
    width: 75%;
    text-align: center;
    margin-left: -80px;
    font-size: 30px;
  }
  .filter__card--icon {
    font-size: 30px;
    color: #707070;
  }
  .filter__card--number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9356DC;
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.card__background--1 {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: bottom;
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  display: flex;
  justify-content: flex-end;
}

.card__background--2 {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: bottom;
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
  display: flex;
  justify-content: flex-end;
}

.card__background--3 {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: bottom;
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  display: flex;
  justify-content: flex-end;
}

.card__background--4 {
  height: 70%;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: bottom;
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 575.99px) {
  .card {
    background-color: white;
    height: 255px;
    width: 100%;
    max-width: 335px;
    margin-bottom: 20px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .card__background--2 {
    background-position-y: -150px;
  }
  .card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .card__bottom__title {
    font-weight: bolder;
    margin: 0;
  }
  .card__bottom__paragraph {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .card__bottom__margin--bottom {
    margin-bottom: 70px;
  }
}
.fa-heart {
  font-size: 25px;
  margin-right: 8px;
}

@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .card {
    background-color: white;
    height: 355px;
    width: 100%;
    max-width: 550px;
    margin-bottom: 20px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .card__bottom__title {
    font-weight: bolder;
    margin: 0;
  }
  .card__bottom__paragraph {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .card__background--1 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
  }

  .card__background--2 {
    background-position-y: -250px;
  }

  .card__background--2 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
  }

  .card__background--2 {
    background-position-y: -250px;
  }

  .card__background--3 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
  }

  .card__background--2 {
    background-position-y: -250px;
  }

  .card__background--4 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
  }

  .card__background--2 {
    background-position-y: -250px;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    background-color: white;
    height: 355px;
    width: 310px;
    max-width: 450px;
    margin-bottom: 40px;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .card__bottom__title {
    font-weight: bolder;
    margin: 0;
  }
  .card__bottom__paragraph {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .card__background--1 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
  }

  .card__background--2 {
    background-position-y: bottom;
  }

  .card__background--2 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
  }

  .card__background--2 {
    background-position-y: bottom;
  }

  .card__background--3 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
  }

  .card__background--2 {
    background-position-y: bottom;
  }

  .card__background--4 {
    height: 80%;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
  }

  .card__background--2 {
    background-position-y: bottom;
  }
}
.card {
  transition: filter 300ms;
}
.card:hover {
  filter: drop-shadow(10px 10px 10px #a3a3a3);
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.background__laPaletteDuGout {
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 1200px) {
  .background__laPaletteDuGout {
    height: 40vh;
  }
}

.background__laNoteEnchantee {
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 1200px) {
  .background__laNoteEnchantee {
    height: 40vh;
  }
}

.background__aLaFrancaise {
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 1200px) {
  .background__aLaFrancaise {
    height: 40vh;
  }
}

.background__leDeliceDesSens {
  background-image: url(https://raw.githubusercontent.com/Kepoulpe/NicolasMoreno_3_11112021/main/images/pics/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 30vh;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 1200px) {
  .background__leDeliceDesSens {
    height: 40vh;
  }
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
@media only screen and (max-width: 575.99px) {
  .card__menu {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 15px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .card__menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .card__menu__content {
    width: 90%;
  }
  .card__menu__title {
    font-size: 4.5vw;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .card__menu__paragraph {
    font-size: 3.5vw;
    margin-top: 5px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }
  .card__menu__price {
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    width: 2%;
  }
  .card__menu__check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 0%;
    opacity: 0;
    border-radius: 0 15px 15px 0px;
    transition: width 1.5s, opacity 0.5s;
  }
  .card__menu__content {
    width: 100%;
  }

  .card__menu__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fa-check-circle {
    color: white;
    font-size: 4vw;
    transform: rotate(-240deg);
    transition: transform 1.5s;
  }
}
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .card__menu {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 15px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
  }
  .card__menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
  }
  .card__menu__title {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .card__menu__paragraph {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }
  .card__menu__price {
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
  }
  .card__menu--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__menu__check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 0%;
    opacity: 0;
    border-radius: 0 15px 15px 0px;
    transition: width 1.5s, opacity 0.5s;
  }
  .card__menu__content {
    width: 100%;
  }

  .card__menu__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .fa-check-circle {
    color: white;
    font-size: 2.5vw;
    transform: rotate(-240deg);
    transition: transform 1.5s;
  }
}
@media only screen and (min-width: 1200px) {
  .card__menu {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    padding-left: 10px;
    margin-bottom: 15px;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
    width: 400px;
    margin-right: 20px;
  }
  .card__menu__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .card__menu__title {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .card__menu__paragraph {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }
  .card__menu__price {
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
  }
  .card__menu--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__menu__check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 0%;
    opacity: 0;
    border-radius: 0 15px 15px 0px;
    transition: width 1.5s, opacity 0.5s;
  }
  .card__menu__content {
    width: 100%;
  }

  .fa-check-circle {
    color: white;
    font-size: 1.5vw;
    transform: rotate(-240deg);
    transition: transform 1.5s;
  }

  .card__menu__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.card__menu {
  transition: filter 300ms;
}
.card__menu:hover {
  filter: drop-shadow(10px 10px 10px #a3a3a3);
}

.fa-heart {
  width: 25px;
}

svg {
  overflow: visible;
}

path:hover {
  stroke: red;
}

#fill:hover {
  fill: url(#first-heart);
}

#fill2:hover {
  fill: url(#second-heart);
}

#fill3:hover {
  fill: url(#third-heart);
}

#fill4:hover {
  fill: url(#fourth-heart);
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.new__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  width: 80px;
  height: 35px;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.loader {
  border: 1.5vw solid #9356DC;
  border-radius: 50%;
  border-top: 1.5vw solid #FF79DA;
  width: 7vw;
  max-width: 120px;
  height: 7vw;
  max-height: 120px;
  animation: spin 1s linear infinite;
}
.loader__background {
  width: 100%;
  height: 100vh;
  background-color: #EFEFEF;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  animation: fade 3s linear;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
  0% {
    opacity: 90%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 0;
  }
}
/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.card__entree__animation {
  animation: fadeInEntree 0.8s ease-out;
  animation-fill-mode: both;
}

@keyframes fadeInEntree {
  from {
    opacity: 0;
    transform: translate(0px, 300px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.card__plats__animation {
  animation: fadeInPlats 0.8s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInPlats {
  from {
    opacity: 0;
    transform: translate(0px, 300px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.card__dessert__animation {
  animation: fadeInDessert 0.8s ease-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDessert {
  from {
    opacity: 0;
    transform: translate(0px, 300px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.card__menu:hover > .card__menu__check {
  width: 25%;
  opacity: 1;
}

.card__menu:hover .fa-check-circle {
  transform: rotate(0deg);
}

@media only screen and (max-width: 575.99px) {
  .card__menu:hover > .card__menu__content {
    width: 90%;
    transition: width 0.8s linear;
  }
}
@media only screen and (min-width: 1200px) {
  .card__menu:hover > .card__menu__content {
    width: 75%;
    transition: width 0.8s linear;
  }
}
/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.nav {
  display: flex;
  align-items: center;
  width: vw;
  margin-bottom: 3px;
  position: relative;
  box-shadow: 0px -10px 50px grey;
}
.nav__logo--container {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 575.99px) {
  .nav {
    height: 8vh;
  }
  .nav__arrow {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    left: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .nav {
    height: 8vh;
  }
  .nav__arrow {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    left: 10px;
  }
}
@media only screen and (max-width: 575.99px) {
  .nav__logo {
    justify-self: center;
    width: 180px;
  }
}
@media only screen and (min-width: 576px) {
  .nav__logo {
    justify-self: center;
    width: 250px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    height: 15vh;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .nav__arrow__menu {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__arrow__menu {
    font-size: 35px;
  }
}
/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
/* smartphone */
@media only screen and (max-width: 575.99px) {
  footer {
    color: white;
    background-color: #494949;
    height: 200px;
    width: 91%;
    padding-left: 9%;
    padding-top: 10px;
  }

  .list {
    list-style: none;
    font-family: roboto;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-left: -40px;
  }
  .list--margin {
    margin-bottom: 10px;
  }
  .list__icon--spacing {
    margin-right: 10px;
  }

  h3 {
    font-family: shrikhand;
    font-weight: lighter;
  }

  .fa-hands-helping {
    font-size: 9px;
  }
}
/* tablet */
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #494949;
    height: 300px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .list {
    list-style: none;
    font-family: roboto;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-left: -40px;
  }
  .list--margin {
    margin-bottom: 20px;
  }
  .list__icon--spacing {
    margin-right: 10px;
  }

  h3 {
    font-family: shrikhand;
    font-weight: lighter;
    font-size: 30px;
  }

  .fa-hands-helping {
    font-size: 9px;
  }
}
/* desktop */
@media only screen and (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #494949;
    height: 300px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .list {
    list-style: none;
    font-family: roboto;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-left: -40px;
  }
  .list--margin {
    margin-bottom: 20px;
  }
  .list__icon--spacing {
    margin-right: 10px;
  }

  h3 {
    font-family: shrikhand;
    font-weight: lighter;
    font-size: 30px;
  }

  .fa-hands-helping {
    font-size: 9px;
  }
}
li:hover {
  color: #d9d9d9;
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
/* nav */
.nav__arrow {
  display: none;
}

/* first section */
.city {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: #e7e7e7;
}

.city__wrapper {
  display: flex;
  align-items: center;
  width: 180px;
}

.marker {
  font-size: 20px;
  margin-right: 20px;
}

.description {
  display: flex;
  height: 35vh;
  flex-direction: column;
  align-items: center;
  background-color: #EFEFEF;
}

@media only screen and (min-width: 1200px) {
  .city {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 30px;
    background-color: #e7e7e7;
  }
}
.city__wrapper {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .marker {
    font-size: 30px;
    margin-right: 20px;
  }
}
.description {
  display: flex;
  height: 40vh;
  flex-direction: column;
  align-items: center;
  background-color: #EFEFEF;
}

/* smartphone */
@media only screen and (max-width: 575.99px) {
  .description__title {
    width: 230px;
    text-align: center;
  }
}

@media only screen and (max-width: 575.99px) {
  .description__paragraph {
    text-align: center;
    font-size: 15px;
    width: 300px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

/* tablet */
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .description__title {
    width: 500px;
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .description__paragraph {
    text-align: center;
    font-size: 18px;
    width: 400px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

/* second section */
.second__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

/* third section */
/* smartphone */
@media only screen and (max-width: 575.99px) {
  .third__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFEFEF;
    padding-top: 30px;
  }
  .third__section__wrapper {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third__section__title--position {
    margin-left: -190px;
  }
}

/* tablet */
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .third__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFEFEF;
    padding-top: 30px;
  }
  .third__section__wrapper {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  .third__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFEFEF;
    padding-top: 30px;
  }
  .third__section__wrapper {
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .third__section__title--position {
    width: 100%;
    text-align: center;
    font-size: 35px;
  }
}

/* colors */
/**
* responsive mixin with two possible sets of arguments
*  - smartphone, tablet
*  - tablet, desktop
*/
.nav {
  box-shadow: 0px 0px 0px;
}

.menu__section {
  background-color: #EFEFEF;
  height: auto;
  border-radius: 45px 45px 0px 0px;
  margin-top: -40px;
}

.nav__arrow__menu {
  position: absolute;
  margin-left: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .menu {
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .menu {
    justify-content: center;
  }
}
.menu__title {
  font-family: shrikhand;
}
@media only screen and (min-width: 576px) and (max-width: 1199.99px) {
  .menu__title {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .menu__title {
    margin-right: 100px;
  }
}

.title {
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 20px;
}

.underline--green {
  height: 3px;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #99E2D0;
}

.button__menu--wrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

/*# sourceMappingURL=style.css.map */
