@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

/* nav */

.nav__arrow {
    display: none;
}

/* first section */
// style for smartphone and tablet
.city {
    @include city;
}
.city__wrapper {
    @include city-wrapper;
}

.marker {
    font-size: 20px;
    margin-right: 20px;
}
.description {
    @include description-div;
}
// style for desktop

.city {
    @include respond(desktop) {
        @include city-desktop;
    }
    &__wrapper {
        @include city-wrapper-desktop;
    }
}
@include respond(desktop) {
    .marker {
        font-size: 30px;
        margin-right: 20px;
    }
}

.description {
    @include description-div-desktop;
}
/* smartphone */
.description__title {
    @include respond(smartphone) {
        width: 230px;
        text-align: center;
    }
}
.description__paragraph {
    @include respond(smartphone) {
        text-align: center;
        font-size: 15px;
        width: 300px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}
/* tablet */
.description__title {
    @include respond(tablet) {
        width: 500px;
        text-align: center;
    }
}
.description__paragraph {
    @include respond(tablet) {
        text-align: center;
        font-size: 18px;
        width: 400px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}
/* second section */
.second__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
/* third section */
/* smartphone */
.third__section {
    @include respond(smartphone) {
        @include restaurant-section;
        &__title--position {
            margin-left: -190px;
        }
    }
}
/* tablet */
.third__section {
    @include respond(tablet) {
        @include restaurant-section;
    }
}

/* desktop */
.third__section {
    @include respond(desktop) {
        @include restaurant-section-desktop;
        &__title--position {
            width: 100%;
            text-align: center;
            font-size: 35px;
        }
    }
}
