@use "sass:list";
@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

// Function that will set these classes dynamically
$urls: (
  "laPaletteDuGout": "https://github.com/Kepoulpe/NicolasMoreno_3_11112021/blob/main/images/pics/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
  "laNoteEnchantee": "https://github.com/Kepoulpe/NicolasMoreno_3_11112021/blob/main/images/pics/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg",
  "aLaFrancaise": "https://github.com/Kepoulpe/NicolasMoreno_3_11112021/blob/main/images/pics/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg",
  "leDeliceDesSens": "https://github.com/Kepoulpe/NicolasMoreno_3_11112021/blob/main/images/pics/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",
);

@each $name, $url in $urls {
  .background__#{$name} {
    background-image: url(#{$url});
    height: 30vh;
    background-size: cover;
    background-position: center;
    // set height based on screen width
    @include respond (desktop) {
      height: 40vh;
    }
  }
}
