@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

.card__entree__animation {
    animation: fadeInEntree 0.8s ease-out;
    animation-fill-mode: both;
}

@keyframes fadeInEntree {
    from {
        opacity: 0;
        transform:translate(0px, 300px) ;
    }
    to {
        opacity: 1;
        transform : translate(0px,0px)
        
    }
}

.card__plats__animation {
    animation: fadeInPlats 0.8s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeInPlats {
    from {
        opacity: 0;
        transform:translate(0px, 300px) ;
    }
    to {
        opacity: 1;
        transform : translate(0px,0px)
        
    }
}

.card__dessert__animation {
    animation: fadeInDessert 0.8s ease-out;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInDessert {
    from {
        opacity: 0;
        transform:translate(0px, 300px) ;
    }
    to {
        opacity: 1;
        transform : translate(0px,0px)
        
    }
}
.card__menu:hover > .card__menu__check {
    width: 25%;
    opacity: 1;
}
.card__menu:hover .fa-check-circle {
    transform : rotate(0deg);
}