@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

@include respond(smartphone) {
    .card__menu {
        @include card-menu;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        &__paragraph {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        &__price {
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;
        }
    }
    .card__menu__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@include respond(tablet) {
    .card__menu {
        @include card-menu;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 700px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        &__paragraph {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        &__price {
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;
        }
        &--center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .card__menu__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@include respond(desktop) {
    .card__menu {
        @include card-menu;
        width: 400px;
        margin-right: 20px;
        &__wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        &__paragraph {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        &__price {
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;
        }
        &--center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .card__menu__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// comon animation

.card__menu {
    transition: filter 300ms;
    &:hover {
        filter: drop-shadow(10px 10px 10px darken($background-color, 30%));
    }
}

.fa-heart {
    width: 25px;
}
svg {
    overflow: visible;
}

// @keyframes filling-heart {    
//     0% {        
//         fill: white;      
        
//         }       
//     100% {
//         fill: red;
//     }
// }

// path {
    // &:hover {
    //     stroke: red;
    // }
    // &:hover{
    //     animation: filling-heart 1s ease-in-out both;
    //     transform-origin: bottom;
    // }
// }

#fill {
    &:hover {
        fill: url(#bottom-to-top);
    }
}
      
