@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

.filter__card {
    @include respond (smartphone){
    display: flex;
    align-items: center;
    background: $background-color;
    height: 80px;
    margin-bottom: 20px;
    width: 330px;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 2px darken($background-color, 30%));
    &--number {
        background: $color-primary;
        color: white;
    }
}
}
