@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

@include respond(smartphone) {
    .card__menu {
        @include card-menu;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }
        &__content {
            width: 90%;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        &__paragraph {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        &__price {
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;
        }
        &__check {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            width: 30px;
        }
    }
    .card__menu__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@include respond(tablet) {
    .card__menu {
        @include card-menu;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 700px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        &__paragraph {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        &__price {
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;
        }
        &--center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .card__menu__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@include respond(desktop) {
    .card__menu {
        @include card-menu;
        width: 400px;
        margin-right: 20px;
        &__wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }
        &__title {
            font-size: 18px;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        &__paragraph {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        &__price {
            font-size: 15px;
            font-weight: bold;
            margin-right: 30px;
        }
        &--center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__check {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            width: 0%;
            opacity: 0;
            border-radius:0 15px 15px 0px;
            //transition-property: width;
            //transition-duration: 1s;
            transition: width 1.5s, opacity 0.5s;
        }
    }
    .card__menu__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
// comon style for check icon

.fa-check-circle {
    color: white;
    font-size: 1.5vw;
    transform: rotate(-240deg);
    transition: transform 1.5s;
}

// comon animation

.card__menu {
    transition: filter 300ms;
    &:hover {
        filter: drop-shadow(10px 10px 10px darken($background-color, 30%));
    }
}

.fa-heart {
    width: 25px;
}
svg {
    overflow: visible;
}
 path {
     &:hover {
         stroke: red;
     }
}

#fill {
    &:hover {
        fill: url(#first-heart);
    }
}
#fill2 {
    &:hover {
        fill :url(#second-heart)
    }
}
#fill3 {
    &:hover {
        fill :url(#third-heart)
    }
}
#fill4 {
    &:hover {
        fill :url(#fourth-heart)
    }
}
      
