@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";


.loader {
    border: 1.5vw solid $color-primary;
    border-radius: 50%;
    border-top: 1.5vw solid $color-secondary;
    width: 7vw;
    max-width: 120px;
    height: 7vw;
    max-height: 120px;
    animation: spin 1s linear infinite;
    &__background {
        width: 100%;
        height: 100vh;
        background-color: $background-color;
        position: fixed;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 90%;
        animation: fade 3s linear;
        visibility: hidden;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
@keyframes fade {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
    0% {
        opacity: 90%;
    }
    90% {
        opacity: 90%;
    }
    100% {
        opacity: 0;
    }

}