@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

@include respond (smartphone) {
    .card {
        @include restaurant-card;
    } 
}
.card__background--1 {
    @include card-image-style;
    background-image: url(/images/pics/restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.card__background--2 {
    @include card-image-style;
    background-position-y: -150px;
    background-image: url(/images/pics/restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.card__background--3 {
    @include card-image-style;
    background-image: url(/images/pics/restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.card__background--4 {
    @include card-image-style;
    background-image: url(/images/pics/restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    &__title {
        font-weight: bolder;
        margin: 0;
    }
    &__paragraph {
        margin-top: 5px;
        margin-bottom: 0;
    }
}
.fa-heart {
    font-size: 25px;
    margin-right: 8px;
}
.card__margin--bottom {
    margin-bottom: 70px;
}