/* fonts */
@font-face {
    font-family: shrikhand;
    src: url(fonts/shrikhand/Shrikhand-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@font-face {
    font-family: roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');}


body {
    font-family: roboto;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
main {
    width: 100%;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}
