@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

/* smartphone */
@include respond(smartphone) {
    footer {
        @include footer-style;
    }
    .list {
        @include ul-style;
    }
    h3 {
        font-family: shrikhand;
        font-weight: lighter;
    }
    .fa-hands-helping {
        font-size: 9px;
    }
}

/* tablet */
@include respond(tablet) {
    footer {
        @include footer-style-tablet;
    }
    .list {
        @include ul-style-tablet;
    }
    h3 {
        font-family: shrikhand;
        font-weight: lighter;
        font-size: 30px;
    }
    .fa-hands-helping {
        font-size: 9px;
    }
}

/* desktop */
@include respond(desktop) {
    footer {
        @include footer-style-tablet;
    }
    .list {
        @include ul-style-tablet;
    }
    h3 {
        font-family: shrikhand;
        font-weight: lighter;
        font-size: 30px;
    }
    .fa-hands-helping {
        font-size: 9px;
    }
}
