@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

/* smatphone */
.nav {
    @include respond (smartphone) {
        @include smartphone-nav;
        &__arrow {
            @include back-arrow;
        }
        &__logo--container {
            @include logo-container;
        }
        &__logo {
            justify-self: center;
            width: 180px;
        }
    }
    
}

/* tablet */
.nav {
    @include respond (tablet) {
        @include smartphone-nav;
        &__arrow {
            @include back-arrow;
        }
        &__logo--container {
            @include logo-container;
        }
        &__logo {
            justify-self: center;
            width: 250px;
        }
    }
}

/* desktop */

.nav {
    @include respond (desktop) {
        @include desktop-nav;
        &__arrow {
            @include back-arrow;
        }
        &__logo--container {
            @include logo-container;
        }
        &__logo {
            justify-self: center;
            width: 250px;
        }
    }
}
