@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";


.nav {

    // common
    display: flex;
    align-items: center;
    width: 100vw;

    &__logo--container {
        @include logo-container;
    }
    
    @include respondMany(smartphone, tablet) {
        height: 8vh;
        &__arrow {
            @include back-arrow;
        }
    }
    // set nav height based on screen width
    @include respond (smartphone) {
        &__logo {
            justify-self: center;
            width: 180px;
        }
    }

    @include respondMany(tablet, desktop) {
        &__logo {
            justify-self: center;
            width: 250px;
        }
    }
    @include respond (desktop) {
        height: 15vh;
        .fa-arrow-left {
            display: none;
        }
    }

}