@import "./../utils/variables";
@import "./../utils/fonctions";
@import "./../utils/mixins";
@import "./../utils/placeholders";

.nav {
    // common
    display: flex;
    align-items: center;
    width: 100vw;
    margin-bottom: 3px;
    position: relative;
    box-shadow: 0px -10px 50px grey;

    &__logo--container {
        @include logo-container;
    }

    @include respond(smartphone) {
        height: 8vh;
        &__arrow {
            @include back-arrow;
        }
    }
    @include respond(tablet) {
        height: 8vh;
        &__arrow {
            @include back-arrow;
        }
    }
    // set nav height based on screen width
    @include respond(smartphone) {
        &__logo {
            justify-self: center;
            width: 180px;
        }
    }

    @include respondMany(tablet, desktop) {
        &__logo {
            justify-self: center;
            width: 250px;
        }
    }
    @include respond(desktop) {
        height: 15vh;
    }
}
// set naw arrow size beased on screen width for menu pages

@include respond (tablet) {
    .nav__arrow__menu {
        font-size: 25px;
    }
}
@include respond (desktop) {
    .nav__arrow__menu {
        font-size: 35px;
    }
}